# Exploring Statistics for Brazilian E-commerce

**Questions** 
1. 
2.
3.

**Hypothesis**
1.
2.
3.

**Tests**

Statistical analysis in order to solve tasks and confirm/reject hypotheses is a part of the Data Analyst Life Cycle.  
Initial investigations on your data are key in order to understand them - which again is necessary for further data analysis and future predictions.  
Within an EDA, you will perform initial investigations and aim for:  
- discover patterns 
- spot anomalies 
- test hypotheses 
- check assumptions

**Import the libraries**

In [ ]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

**Data unfolding**

In [ ]:
customer_location_data = pd.read_csv("olist_customers_dataset.csv")
customer_location_data.head()

In [ ]:
seller_location_data = pd.read_csv("olist_geolocation_dataset.csv")
seller_location_data.head()
#df1.shape
#df1.info()

In [38]:
order_item_data = pd.read_csv("olist_order_items_dataset.csv")
order_item_data.head()
order_item_data.info()
#order_item.shape
#order_item['order_item_id'].nunique()
#order_item.isnull().sum() #displays sum of missing values per column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [ ]:
payment_data = pd.read_csv("olist_order_payments_dataset.csv")
payment_data.head()

In [ ]:
order_delivery_data = pd.read_csv("olist_orders_dataset.csv")
order_delivery_data.head()

In [37]:
product_detailed_info_data = pd.read_csv("olist_products_dataset.csv")
product_detailed_info_data.head()
#product_detailed_info.shape #32951 with 9 columns
#product_detailed_info.product_category_name.nunique() #73 products
product_detailed_info_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [36]:
product_category_data = pd.read_csv("product_category_name_translation.csv")
product_category_data.head()
#product_category.shape

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [ ]:
seller_location1_data = pd.read_csv("olist_sellers_dataset.csv")
seller_location1_data.head()

**Q1.What are the product categories? Which product categories are sold best? And worst?**
*The product list indicates 71 product category names.*

*Join data sets for the first question, product id is the common column to join upon*

In [34]:
product_sell_df = product_detailed_info_data.merge(order_item_data, on='product_id', how='left')

In [35]:
#product_sell_df.info()
#product_sell_df.isnull().sum()
product_sell_df.head() #Spanish names

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,e17e4f88e31525f7deef66779844ddce,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-04-30 17:33:54,10.91,7.39
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,5236307716393b7114b53ee991f36956,1,b561927807645834b59ef0d16ba55a24,2018-02-06 19:11:15,248.00,17.99
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,01f66e58769f84129811d43eefd187fb,1,7b07b3c7487f0ea825fc6df75abd658b,2018-07-11 21:30:20,79.80,7.82
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,143d00a4f2dde4e0364ee1821577adb3,1,c510bc1718f0f2961eaa42a23330681a,2018-08-07 09:10:13,112.30,9.54
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,86cafb8794cb99a9b1b77fc8e48fbbbb,1,0be8ff43f22e456b4e0371b2245e4d01,2018-04-17 01:30:23,37.90,8.29

In [42]:
product_sell_english_df = product_sell_df.merge(product_category_data, on='product_category_name', how='right') #to add english product category names

*1.4% data has null values in 2 to 4 columns of product_sell.*

In [ ]:
product_categories_df = product_sell_df.drop(['product_id','product_name_lenght', 'product_category_name', 'product_description_lenght', 'product_photos_qty','product_weight_g','product_length_cm','product_height_cm','product_width_cm'], axis=1)

In [ ]:
product_categories_df.head()

In [ ]:
product_categories_df = product_categories_df.drop(['product_category_name'], axis=1)

In [ ]:
product_categories_df.head()

In [ ]:
# Plot number of items sold per category
plt.figure(figsize=(15,8)) # specify figure size
f1 = sns.countplot(x= product_categories_df['product_category_name_english']) # create countplot
f1.tick_params(axis='x', rotation=90) # get x-ticks and rotate them
f1.set(xlabel=None) # set no label for x-axis 
f1.set_ylabel("Number of orders", fontsize = 10); # set label for y-axis
f1.set_title('Number of items sold per category', fontsize=20); # set title

In [ ]:
product_categories_df.to_csv('product_category_sells.csv')

**Question 2: Is product sale based on photo quantity or written product description?**

In [ ]:
product_sell_df.head()

In [ ]:
is_it_attribution = product_sell_df.drop(['product_id','product_name_lenght','product_weight_g','product_length_cm','product_height_cm','product_width_cm','seller_id','shipping_limit_date', 'price','freight_value'], axis=1)

In [ ]:
is_it_attribution.head()

In [ ]:
is_it_attribution.product_photos_qty.nunique()

In [ ]:
df = is_it_attribution.sort_values(by = "product_photos_qty", ascending=False, kind="mergesort")

In [ ]:
df_dropped = df.drop(['product_description_lenght','order_id'], axis=1)